</main>

<footer class="footer">
    <div class="footer-container">

        <!-- Links -->
        <div class="footer-section">
            <h3>Quick Links</h3>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                 <li><a href="/news">News</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="#">Privacy</a></li>
            </ul>


            <div class="social-links1">
            <h3>Follow Us</h3>
            <a href="https://www.linkedin.com/company/raydenic/" target="_blank" rel="noopener noreferrer">LinkedIn</a>
            <!-- <a href="#" target="_blank">💻 GitHub  (Coming Soon)</a> -->
            <a href="https://x.com/raydenic50" target="_blank" rel="noopener noreferrer">X</a>
            </div>
        </div>

        <!-- Newsletter -->
        <div class="footer-section">
            <h3>Stay Radiant - Get Updates!</h3>
            <form id="newsletter-form">
                <input type="email" id="email-input" placeholder="Your email address" required />
                <button type="submit">Subscribe</button>
                <p id="form-message"></p>
            </form>

        </div>
    </div>

    <div class="footer-bottom">
        © <%= new Date().getFullYear() %> Raydenic. All rights reserved.
    </div>
</footer>

<script src="/js/footer.js"></script>


</body>

</html>