<!DOCTYPE html>
<html lang="en">

<head>
    
    <link rel="icon" href="/images/RayDenic-favicon.ico" type="image/x-icon">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/footer.css">


    <!-- <link rel="stylesheet" href="/styles/index.css" /> -->
    <!-- <link rel="stylesheet" href="/styles/about.css" /> -->

    <link rel="stylesheet" href="/styles/index.css" />
    <link rel="stylesheet" href="/styles/contact.css" />
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">



</head>

<body>

    <nav>
        <div class="container">
            <a href="/" class="logo">
                <img src="/images/Raydenic_logo.png" alt="Logo" class="logo-img" />
            </a>

            <!-- Hamburger icon -->
            <button class="nav-toggle" aria-label="toggle navigation">
                &#9776;
            </button>

            <!-- Navigation links -->
            <ul class="nav-links">
                <li><a href="/" class="active">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/news">News</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
    </nav>

    <script src="/js/header.js"></script>
    <main>