<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

</head>

<body>

    <nav>
        <div class="container">
            <a href="/" class="logo">
                <img src="images/Raydenic_logo.png" alt="Logo" class="logo-img" />
            </a>

            <!-- Hamburger icon -->
            <button class="nav-toggle" aria-label="toggle navigation">
                &#9776;
            </button>

            <!-- Navigation links -->
            <ul class="nav-links">
                <li><a href="/" class="active">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </div>
    </nav>

    <script src="/js/header.js"></script>
    <main>