<%- include("partials/header.ejs") %>

<link rel="stylesheet" href="/styles/about.css" />

<!-- views/About.ejs -->

<section class="first">

  <h1>About Raydenic</h1>

  <section class= "container">

  <p>
    Raydenic is a Waterloo-based product and services company specializing in Data Analytics and Web Development.
    We help clients solve real business challenges by delivering intelligent, modern, and impactful solutions.
  </p>

  <img src="/images/target-2.svg" alt="Feature 1 Logo" class="logos" /> 

  <h2> Mission</h2>

  <p>
    To identify and solve the world’s most pressing problems across industries using Software, AI, and Data Analytics —
    delivering scalable solutions that create real-world impact.
  </p>

  <img src="/images/globe-3.svg" alt="Feature 1 Logo" class="logos" /> 

  <h2>  Vision</h2>

  <p>
    To become a trusted B2B partner helping businesses develop and scale their products and services through collaborative innovation.<br>
    To lead in community-focused innovation, building solutions that support local businesses and consumers —
    grounded in the needs of today’s people and problems.
  </p>

    <img src="/images/lightbulb.svg" alt="Feature 1 Logo" class="logos" /> 


  <h2>Core Values</h2>
  <p>We’re driven by a commitment to both technological excellence and human-centered progress.</p>

  </section>

  </section>

  <section class="values">

     <div class="container">

            <div class="value1">

                <h3>Innovation & Growth</h3>
                 <ul>
                 <li>Creativity</li>
                 <li>Curiosity</li>
                 <li>Continuous Improvement</li>
                 <li>Embracing Change</li>
                </ul>

            </div>

            <div class="value1">
                <h3>Integrity & Communication</h3>
                <ul>
                    <li>Honesty</li>
                    <li>Transparency</li>
                    <li>Accountability</li>
                    <li>Open Communication</li>
                </ul>
            </div>

            <div class="value1">
            <h3>Team & Trust</h3>
            <ul>
                <li>Respect</li>
                <li>Collaboration</li>
                <li>Teamwork</li>
                <li>Trustworthiness</li>
            </ul>
            </div>

            <div class="value1">
            <h3>Service Excellence</h3>
            <ul>
                <li>Responsiveness</li>
                <li>Reliability</li>
                <li>Customer-Centricity</li>
                <li>Empathy</li>
                <li>Commitment to Service</li>
            </ul>
            </div>
        
            </div>

  </section>




<%- include("partials/footer.ejs") %>