<%- include("partials/header.ejs") %>

<link rel="stylesheet" href="/styles/services.css" />

<section class="first">

  <h1>Our Services</h1>


  <h2>Data Analytics for Your Business</h2>

  <section class="container">

  <p>  We transform your raw data into powerful business insights. Whether you're identifying trends, solving complex problems, or optimizing decision-making, we provide tailored analytics solutions.  </p>

  <ul>
    <li>Actionable dashboards & reports</li>
    <li>KPI tracking and business health monitoring</li>
    <li>Predictive & diagnostic insights</li>
    <li>Custom solutions using Power BI, Tableau, Looker, and more</li>
  </ul>


  </section>

 <h2>Web Development</h2>

  <section class="container">

 <p> Your online presence should be as dynamic as your business. We design and develop custom websites that convert, captivate, and scale.   </p>

  <ul>
    <li>Landing pages, sales pages, product sites</li>
    <li>E-commerce and shopping experiences</li>
    <li>Optimized for speed, SEO, and mobile responsiveness</li>
    <li>Built with React, Render, Next.js or tailored stacks based on your goals</li>
  </ul>


  </section>

  

  <button onclick="location.href='/contact'" class="btn-primary">Contact Us to Know More</button>


</section>


<%- include("partials/footer.ejs") %>